/* style.css */

body {
    font-family: Arial, sans-serif;
}

header {
    background-color: #333;
    color: #fff;
    padding: 1em;
    text-align: center;
}

nav a {
    color: #fff;
    margin: 0 10px;
    text-decoration: none;
}

main {
    padding: 2em;
}

form label {
    display: block;
    margin-top: 10px;
}

form input, form button {
    display: block;
    margin-top: 5px;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table, th, td {
    border: 1px solid #333;
    padding: 10px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}


